body { padding-top:50px; }

.btn { margin-bottom:20px; }

p(  margin: 1em 0 0 0!important;
    padding: 5px;
    color: #0086f5;
    font-size: 17px;)
	
.form-control{    border: 1px solid #dddddd!important;}